/***********************************************************************************************************************
DOCUMENT: style/format.css
DEVELOPED BY: Ryan Stemkoski
COMPANY: Zipline Interactive
EMAIL: ryan@gozipline.com
PHONE: 509-321-2849
DATE: 2/26/2009
DESCRIPTION: This document contains the structural formatting files for the accordion style menu.
************************************************************************************************************************/
#wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	}

.accordionButton {	
	width: 100%;
	/*float: left;
	_float: none;  /* Float works in all browsers but IE6 */
	background: #00CCFF;
	border-bottom: 1px solid #FFFFFF;
	cursor: pointer;
	padding: 10px 5px;
	border-radius: 5px 5px 0px 0px;
	}
	
.accordionContent {	
	width: 100%;
	margin: 10px 0;
	/*float: left;
	_float: none; /* Float works in all browsers but IE6 */
	/*background: #95B1CE;*/
	}
	
/***********************************************************************************************************************
 EXTRA STYLES ADDED FOR MOUSEOVER / ACTIVE EVENTS
************************************************************************************************************************/

.on {
	background: #99CC00;
	}
	
.over {
	background: #CCCCCC;
	}