.loan {
	width: 100%;
}

.loan div {
	/*border: 1px solid #999;*/
	margin: 1px;
}

.loan .loan_src {
	float: left;
	width: 49%;
	height: 190px;
}

.loan .loan_pmt {
	float: left;
	width: 49%;
	height: 190px;
}

.loan .loan_out {
	clear: both;
	overflow: auto;
	width: 100%;
	height: 400px;
}