
#vlist .specs{
    font-size: 0.8em;
    line-height: 130%;
    margin: 0 0 0px;
    padding: 0 10px 0 0;
}

#vlist .featurelist{
    color: #333333;
    font-family: Verdana,Arial,Geneva,Helvetica,sans-serif;
	font-weight:bold;
	font-size: 0.8em;
	padding: 0;
}

#vlist h3 {
    font-size: 1.1em;
	font-weight:bold;
    margin: 0px;
    padding: 0px;
}
#vlist .vlistitem {
	border-top: 1px dotted #000;
	margin-top: 2px;
}
#vlist .vlistitem:hover {
	background-color: #E0EFFE;
}
#vlist a:hover {
    text-decoration: none;
}
#vlist .price, #vlist .mileage {
    font-size: 0.9em;
    line-height: 130%;
    margin: 0 0 0px;
    padding: 0 10px 0 0;
}
#vlist .price, #vlist .cprice, #vlist .vfeatured {
    font-size: 0.9em;
    line-height: 130%;
    margin: 0 0 0px;
    padding: 0 10px 0 0;
	font-weight:bold;
}

#vlist .imgpreview{
	width:100px;
	height: auto;
	border: 1px solid #000;
	padding: 1px;
}

 table{
	width: 100%;
}
#vlist table .imagep{
	width: 105px;
}
#vlist table .tbl_info{
	
}
#vlist table .tbl_moneinfo{
	width: 115px;
	border-left: 1px dotted #000000;
}

#voverview dt{
	width: 150px;
	float:left;
	font-weight:bold;
}
#voverview table.tdivider{
	border: none;
	width:100%
}
#voverview table.tdivider td{
	width:50%;
	border:none;
	vertical-align:top;
}

div.vmainimg {
    width: 50%;
    float: left;
}
div.vmaininfo {
    width: 50%;
    float: right;
}
#otherinfo{
	margin-top:15px;
}
div.vmainimg img {
    border: 1px solid #000;
    padding: 3px;
}

/*          For image slider/gallery     */
#slideshow {list-style:none; color:#fff}
#slideshow span {display:none}
/*
#wrapper {width:506px; margin:50px auto; /*display:none}
#wrapper * {margin:0; padding:0}*/
#fullsize {position:relative; width:500px; height:300px; padding:2px; border:1px solid #ccc; background:#000}
#information {position:absolute; bottom:0; width:500px; height:0; background:#000; color:#fff; overflow:hidden; z-index:200; opacity:.7; filter:alpha(opacity=70)}
#information h3 {padding:4px 8px 3px; font-size:14px}
#information p {padding:0 8px 8px}
#image {width:500px}
#image img {position:absolute; z-index:25; width:auto}
.imgnav {position:absolute; width:25%; height:306px; cursor:pointer; z-index:150}
#imgprev {left:0; background:url(images/left.gif) left center no-repeat}
#imgnext {right:0; background:url(images/right.gif) right center no-repeat}
#imglink {position:absolute; height:306px; width:100%; z-index:100; opacity:.4; filter:alpha(opacity=40)}
.linkhover {background:url(images/link.gif) center center no-repeat}
#thumbnails {margin-top:15px}
#slideleft {float:left; width:20px; height:81px; background:url(images/scroll-left.gif) center center no-repeat; background-color:#222}
#slideleft:hover {background-color:#333}
#slideright {float:right; width:20px; height:81px; background:#222 url(images/scroll-right.gif) center center no-repeat}
#slideright:hover {background-color:#333}
#slidearea {float:left; position:relative; width:456px; margin-left:5px; height:81px; overflow:hidden}
#slider {position:absolute; left:0; height:81px}
#slider img {cursor:pointer; border:1px solid #666; padding:2px}


.viewed{

}
img.liststar{
	float:right;
}

span.compare
{
	float:right;
	padding:2px;
}
span.compare:hover
{
	background-color: blue;
	color: #FFF;
	border-radius: 5px;
}

table .thighlight{
	background-color: #76777A;
	color: #FFF;
}

#tcompare tr:hover {
    background: #F8DBDA;
}