
#vlist .specs{
    font-size: 0.8em;
    line-height: 130%;
    margin: 0 0 0px;
    padding: 0 10px 0 0;
}

#vlist .featurelist{
    color: #333333;
    font-family: Verdana,Arial,Geneva,Helvetica,sans-serif;
	font-weight:bold;
	font-size: 0.8em;
	padding: 0;
}

#vlist h3 {
    font-size: 1.1em;
	font-weight:bold;
    margin: 0px;
    padding: 0px;
}
#vlist .vlistitem {
	border-top: 1px dotted #000;
	margin-top: 2px;
}
#vlist .vlistitem:hover {
	background-color: #E0EFFE;
}
#vlist .price, #vlist .mileage {
    font-size: 0.9em;
    line-height: 130%;
    margin: 0 0 0px;
    padding: 0 10px 0 0;
}
#vlist .price, #vlist .cprice, #vlist .vfeatured {
    font-size: 0.9em;
    line-height: 130%;
    margin: 0 0 0px;
    padding: 0 10px 0 0;
	font-weight:bold;
}

#vlist .imgpreview{
	width:100px;
	height: auto;
	border: 1px solid #000;
	padding: 1px;
}

 table{
	width: 100%;
}
#vlist table .imagep{
	width: 105px;
}
#vlist table .tbl_info{
	
}
#vlist table .tbl_moneinfo{
	width: 100px;
	border-left: 1px dotted #000000;
}
