	.icon-48-vehicleimg	{ background-image: url("../images/vehicle48.png"); }
	.icon-48-addvehicleimg	{ background-image: url("../images/addv48.png"); }
	.icon-32-addvehicleimg	{ background-image: url("../images/addv32.png"); }