.flexigrid{
	width: 902px;
	margin-left: auto;
	margin-right: auto;
}

.flexigrid div.fbutton .add {
    background: url("../images/add16.png") no-repeat scroll left center transparent;
}

.searchimg {
    background: url("../images/magnifier16.png") no-repeat scroll left center transparent;
}

.img16{
	height: 16px;
	width: 16px;
}

#vsearch{
	margin-bottom:10px;
	border: #CCCCCC 1px solid;
	border-radius: 5px;
	width:600px;
}
#vsearch div.content{
	padding:10px;
}

table.dataTable thead th {
    background-color: #77A2D4;
    color: #FFFFFF;
}

div.ftitle {
    background-color: #77A2D4;
    color: #FFFFFF;
    font-weight: bolder;
    padding: 5px;
}


.action_btns{
	margin-bottom: 10px;
}

.jbtn{
	color: #FFF;	
}

.hide{
	display:none;
}

dd {
    margin-bottom: 10px;
}
dt {
    float: left;
    display: block;
    width: 120px;
    margin-bottom: 10px;
}

.i_long {
    width: 350px;
}
.i_med {
    width: 175px;
}
.i_small {
    width: 85px;
}

table.dtable td{
	height: 25px;
}
table.dtable label{
	font-weight:bold;
}
td{
	vertical-align:top;
}



/*---------------- Datatable ------------------*/
#fdata tbody tr.even:hover, #fdata tbody tr.even td.highlighted,
#table_vehicles tbody tr.even:hover, #table_vehicles tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

#fdata tbody tr.odd:hover, #fdata tbody tr.odd td.highlighted,
#table_vehicles tbody tr.odd:hover, #table_vehicles tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}

#fdata tr.even:hover,
#table_vehicles tr.even:hover {
	background-color: #ECFFB3;
}

#fdata tr.even:hover td.sorting_1,
#table_vehicles tr.even:hover td.sorting_1 {
	background-color: #DDFF75;
}

#fdata tr.even:hover td.sorting_2,
#table_vehicles tr.even:hover td.sorting_2 {
	background-color: #E7FF9E;
}

#fdata tr.even:hover td.sorting_3,
#table_vehicles tr.even:hover td.sorting_3 {
	background-color: #E2FF89;
}

#fdata tr.odd:hover,
#table_vehicles tr.odd:hover {
	background-color: #E6FF99;
}

#fdata tr.odd:hover td.sorting_1,
#table_vehicles tr.odd:hover td.sorting_1 {
	background-color: #D6FF5C;
}

#fdata tr.odd:hover td.sorting_2,
#table_vehicles tr.odd:hover td.sorting_2 {
	background-color: #E0FF84;
}

#fdata tr.odd:hover td.sorting_3,
#table_vehicles tr.odd:hover td.sorting_3 {
	background-color: #DBFF70;
}
img.addvipreview{
    border: 1px solid #000000;
    height: 120px;
    margin: 10px;
    padding: 2px;
    width: auto;
}
img.addvipreview_large{
    border: 1px solid #000000;
    height: 200px;
    margin: 10px;
    padding: 2px;
    width: auto;
}


input.inputError, select.inputError {
    background-image: url(../images/invalid.gif);
    background-position: left top;
    background-repeat: no-repeat;
    background-color: white;
    padding-left: 20px;
    padding-top: 1px;
	/*BORDER-RIGHT: #FF8000 0px solid; BORDER-TOP: #FF8000 10x solid; MARGIN: 0px; BORDER-LEFT: #FF8000 0px solid; BORDER-BOTTOM: #FF8000 0px solid; COLOR: #FF8000*/
}
.innerHelp {
	background-image: url(../images/valid.gif);
    background-position: left top;
    background-repeat: no-repeat;
    background-color: white;
    padding-left: 20px;
    padding-top: 1px;
	BORDER-RIGHT: #008000 0px solid; BORDER-TOP: #008000 10x solid; MARGIN: 0px; BORDER-LEFT: #008000 0px solid; BORDER-BOTTOM: #008000 0px solid; COLOR: #008000
}
